table {
    border-spacing: 15px;
}

td {
    font-size: 30px;
    background-color: green;
    border: 2px solid black;
    width: 250px;
    height: 100px;
}

td:nth-child(n+4):nth-child(-n+6),
td:nth-child(n+10):nth-child(-n+12),
td:nth-child(n+16):nth-child(-n+18),
td:nth-child(n+22):nth-child(-n+24) {

    background-color: blue;

}